body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #373637;
  color: #FF4C0D;
}
hr{
	background-color:blue;

}
.card{
	background: transparent !important;
	box-shadow: 5px 5px 8px #1e1d1e 
		-5px -5px 8px #484748;
	width: 15rem;
}
.btn{
	background: transparent;
	color: inherit;
	border: 1px solid;
	outline: none;
}
.importantNotes {
	background: #ca04ec;
	color: #fff;
	border:1px solid #ca04ec;
	outline: none;

}